$primary-color: #464D33;
$secondary-color: #9e6032;
$danger-color: #e7463c;
$text-color: #464D33;
$background-color: #F8F3E9;
$padding: 1rem;
$border-radius:0.5rem;
$font-family: "Poppins", sans-serif;